<h1>コメント履歴一覧</h1>

<table class="table customer-table">
 <thead class="table-active">
  <tr>
    <th>投稿日時</th>
    <th>ニックネーム</th>
    <th>コメント</th>
  </tr>
 </thead>

  <tbody>
    <%# @customers.each do |customer| %>
    <tr>
      <th>
       <%#= customer.id %>
      </th>
      <td>
       <%#= link_to customer.name, admin_customer_path(customer.id) %>
      </td>
      <th>
       <%#= customer.email %>
      </th>
    </tr>
     <%# end %>
     <%#= paginate @customers %>
  </tbody>
</table>