<h1>バイク一覧</h1>

<%= link_to "新規登録", new_admin_item_path, class:"btn btn-success" %>

<table class="table item-table col-xl-12">
  <thead class="table-active">
   <tr>
     <th>バイクID</th>
     <th>車種</th>
     <th>価格</th>
     </tr>
   </thead>

  <tbody>
   <% @items.each do |item| %>
    <tr>
     <th><%= item.id %></th>
     <th><%= link_to item.model,admin_item_path(item.id) %></th>
     <th><%= (item.price).to_s(:delimited) %></th>
    </tr>
   <% end %>
   </tbody>
</table>