<body>
  <main>
    <div class="container mt-5">
      <div class="row">
        <div class="about-title col-md-12 offset-md-3">
          <div class="title mt-5">
            <h3>当サイトについて</h3>
          </div>
          <br>
          <p class="mt-5">
            「Bikewith」へお越しいただきありがとうございます！<br>
            <br>
            バイク好きが集まるレビューサイトです。<br>
            Myバイクレビューの投稿、他ユーザーの投稿の閲覧、<br>
            コメント欄で語り合うことを目的としています。<br>
            手軽に情報収集ができて、バイカー同士が盛り上がれるコンテンツを<br>
            作りたいと思い、当サイトを制作しました。<br>
            誰かのお気に入り車種を見つける一助となれば幸いです。
          </p>
        </div>
        <div class="mb-5"></div>
      </div>
    </div>
  </main>
  <div class="mb-5"></div>
  <br>
  <br>
</body>